<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account | {{ shop.name }}</title>
    {{ content_for_header }}
    <link href="{{ 'main.css' | asset_url }}" rel="stylesheet">
  </head>
  <body class="bg-gray-50 text-gray-900">
    <main class="mx-auto max-w-7xl px-4 py-8">
      {{ content_for_layout }}
    </main>
    <script src="{{ 'main.js' | asset_url }}" type="module"></script>
  </body>
</html>
